body {
    background-color: antiquewhite;
}

img {
    height: 200px;
    width: 200px;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-top: 150px;
}

.title {
    font-size: 50px;
    text-align: center;
    color: rgb(140, 122, 29);
}

.menu {
    display: inline-block;
}